mat-card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.item{
  width: 100%;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: #3f76b5;
}

.bell{
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

}

.card-title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

mat-form-field {
  margin: 10px 0;
  display: flex; /* Keep flexbox for overall layout */
}

.report-subject,
mat-select {
  /* Remove flexbox from individual elements */
  display: inline-block;
  align-items: center; /* Maintain vertical alignment */
  margin: 10px 0;
}

.report-subject {
  font-size: 1.2rem;
  flex: 1; /* Retain flex for horizontal growth if needed */
  margin-right: 10px;
}

mat-select {
  flex: 1; /* Allow select to grow and fill remaining space */
}

mat-form-field textarea {
  flex: 1;
  min-height: 150px;
  resize: vertical;
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .report-subject,
  mat-form-field {
    flex-direction: column;
    align-items: flex-start;
  }
}

.btn-submit {
  width: 100%; /* Make button fill available space */
  margin-top: 20px;
}

mat-error {
  color: #dc3545;
  font-size: 0.8rem;
  margin-top: 5px;
}
