<mat-dialog-content>
  <h2 mat-dialog-title>Add Room</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="STANDARD">Standard</mat-option>
          <mat-option value="SUITE">Suite</mat-option>
          <mat-option value="DELUXE_SUITE">Deluxe Suite</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="state">
          <mat-option value="OCCUPIED">Occupied</mat-option>
          <mat-option value="VACANT">Vacant</mat-option>
          <mat-option value="IN_SERVICE">In Service</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Room Number</mat-label>
        <input matInput formControlName="roomNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Initial Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="initialDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Final Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="finalDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="data" [disabled]="taskForm.invalid">Add</button>
</mat-dialog-actions>
