<mat-dialog-content>

  <h2 mat-dialog-title>Create Task</h2>

  <mat-form-field>

  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="data.dueDate">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

</mat-form-field>
<br>
  <mat-form-field>
  <mat-label>Animal</mat-label>
  <input matInput [(ngModel)]="data.animal">
</mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.dueDate"  >Ok</button>
</mat-dialog-actions>


<!-- id: name: description: dueDate: status: creationDate: updateDate:  userId: -->
