<mat-dialog-content>

  <h2 mat-dialog-title>Create Task</h2>

  <mat-form-field>

    <mat-label>DueDate</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Task Name</mat-label>
    <input matInput [(ngModel)]="">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="">
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-label>Employee assigned</mat-label>
    <input matInput [(ngModel)]="">
  </mat-form-field>
<br>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button >Cancel</button>
  <button mat-button [mat-dialog-close]=""  >Ok</button>
</mat-dialog-actions>


<!-- id: name: description: dueDate: status: creationDate: updateDate:  userId: -->
