.task-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.task-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.task-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}
.task-cards-container app-task-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;

}
