
<div class="cardContain">
<div class="header">
  <h2 class="title">{{data.id}}</h2>
  <mat-divider></mat-divider>
  <p >from: {{data.senderId}}<br>to: {{data.receiverId}}</p>
</div>
  <section class="text">
    <p>{{ data.message }}</p>
</section>

   <p class="header"> sent: {{data.getDateTime() | date: "short" }}</p>
    <mat-divider></mat-divider>
    <div class="buttons">
      <mat-dialog-actions>
    <button mat-flat-button color="primary" [mat-dialog-close]="deleted">Delete</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="answer">Answer</button>
      </mat-dialog-actions>
    </div>

</div>
