
<div class="cardContent">
  <div class="header">
    <h2 class="title">Item: {{ data.name}}</h2>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <p >{{ data.description }}</p>
    <p >Item ID: {{ data.providerId }}</p>
  </div>
  <hr style="height:2px;border-width:0;color:gray;background-color:black">
  <p>Provider: {{data.providerName}}</p>
  <p>Provider Contact: {{data.providerContact}}</p>
  <p>Provider Desc: {{ data.providerDesc}}</p>
  <p>Provider ID: {{data.providerId}}</p>
  <hr style="height:2px;border-width:0;color:gray;background-color:black">
  <section class="subtitle">Stock Level:{{data.quantity}}</section>
  <hr style="height:2px;border-width:0;color:gray;background-color:black">
</div>

