<div class="container">
  <h3>Log In</h3>
  <form [formGroup]="myForm" (ngSubmit)="singInAccount()" class="form-add-post">

    <!-- Título del post (podrías agregar más campos si es necesario) -->
    <div class="input-box">
      <div class="mat-form-field">
        <input matInput type="username" placeholder="email" [(ngModel)]="this.email" formControlName="email" required>
      </div>
    </div>

    <div class="input-box">
      <div class="mat-form-field">
        <input matInput type="password" placeholder="Password" [(ngModel)]="this.password" formControlName="password" required>
      </div>

    </div>

    <div class="input-box role-selection">
      <label>
        <input type="radio" name="role" (click)="setRolleUser(1)" >
        Employee
      </label>
      <label>
        <input type="radio" name="role" (click)="setRolleUser(2)" >
        Manager
      </label>
    </div>
    <div class="content-button" style="text-align: center">
      <button  style="color: white" type="submit" mat-button>Log in</button>
      <div class="text-signup">
        <p  style="padding-top: 1rem">Dont Have an account?</p>
        <a routerLink="/register" style="color: inherit; text-decoration: none" >Sign Up</a>
      </div>
    </div>
  </form>
</div>
