.table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.td, th {
  width: 25%;
}

.div-table {
  margin-right: 2rem;
}

.div-filter {
  margin-left: 10px;
  width: 15%;
}

.inventory-main-actions {
  display: flex;
  flex-direction: row;
  align-content: center;
}
